*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;

}
body{
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.contaner{
position: relative;
width: 100%;
max-width: 1000px;
min-height: 1000px;
background: #fff;
margin: 50px;
display: grid;
grid-template-columns: 1fr 2fr;
box-shadow: 0 35px 55px rgba(0,0,0,0,.1);
}
.contaner .left_side{
    position: relative;
    background: #003147;
    padding: 40px;
}
.profileText{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);

}
.profileText .imgBX{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.profileText .imgBX img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 122%;
    object-fit:cover ;
}
.profileText h2{
    color: #e5ecec;
    font-size: 1.5cm;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.4cm;
}
.contactInfo{
    padding-top: 40px;
}
.title{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.contactInfo ul{
    position: relative;
}
.contactInfo ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.contactInfo ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 18px;
color: #ee0f0f;

}
.contactInfoeducation li{
margin-bottom: 15px;
}
.contactInfoeducation h4{
    color: aqua;
    font-size: 500;
}
.contactInfolanguage .percent{
   position: relative;
   width: 100%;
   height: 6px;
   background: #081921;
   display: block;
   margin-top: 5px;
}
.contactInfolanguage .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}

.contaner .right_side{
    position: relative;
    background: #e9ebec;
    padding: 40px;
}
.about{
    margin-bottom: 0;
}
.about:last-child{
    margin-bottom: 0;
}
.title2{
    color: #003147;
    text-transform: 1px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
p{
    color: #131002;
}
.skills .box{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}
.skills .box h4{
    text-transform: uppercase;
    color: #848c99;
    font-size: 500;
}
.skills .box .percent{
    position: relative;
    width: 100%;
    height: 10px;
    background: #ebc7c7d0
}
.skills .box .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}
.interest ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);

}
.interest ul li{
    list-style: none;
    color: #333;
    font-weight: 500;
    margin: 10px 0;
}
.interest ul li .fa{
    color: #03a9f4;
    font-size: 18px;
    width: 20px;
}
@media (max-width:1000px){
.contaner{
    margin: 10px;
    grid-template-columns: repeat(1,1fr);

}
.interest ul{
    grid-template-columns: repeat(2,1fr);
}
}
    